@import "../../styles/_variables";

.root {
  background-color: $light-blue;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.btnContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: scroll;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}
