@import "../styles/_variables";

.btn {
  background: transparent;
  width: 58px;
  height: 58px;
  border: none;
  border-radius: 32%;
  outline: none;
  box-shadow: -12px -12px 20px #ffffff, 12px 12px 10px #d1d9e6;
  font-size: 1.2rem;
  font-weight: 600;
  color: $text-color;
  transition: all 0.02s;
}

.btn:active {
  box-shadow: -3px -3px 20px #ffffff, 6px 6px 10px #d1d9e6;
}

.btn svg {
  color: $primary;
}
